# General-purpose and utility libraries
mss
WMI
numpy
pynput
twilio
colorama
requests
PyInstaller
pycryptodome

# Windows-specific hooks
pyWinhook; sys_platform == "win32"
pywin32; sys_platform == "win32"
